header.header {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
  color: white;
  background-color: #d6a100;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

header img {
  margin-top: 1rem;
}

h2 {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  header.header {
    width: 30%;
    margin: 15% 2rem;
  }
}